* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 { color: red; }
body {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;  
  /* background: #fff; */
  /* background: black; */
  color: #444;
  /* background-image: url("./images/ColorFoodWallpaperL25.png"); */
  background-image: url("./images/FoodWallpaper50.png");
  /* background-image: url("./images/FoodWallpaper.jpg"); */
}
/* #root {background-image: url("./images/FoodWallpaper.jpg"); opacity: 0.5;} */
.container {
  /* background-color: lime; */
  max-width: 600px;
  margin: 2rem auto 4rem;
  padding: 0 10px;
  text-align: center;
}
.Links {
  max-width: 600px;
  margin: 2rem auto 2rem;
  padding: 0 10px;
  text-align: center;
}
.Links .heading { color: #AE0000; }
.Links .pages a {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.Links .pages a:hover { background-color: red; }

.heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.accordion_item {
  border-top: 1px solid #9f9f9f;
  padding-bottom: 10px;
}

.button:hover {
  background: red;
}

.button {
  font-size: 16px;
  background-color: #008593;
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.direction {
  background-color: #f7f7f7;
  padding: 20px;
}

/* activate toggle */
.accordion_item.active .button:hover {
  background: blueviolet;
}
.accordion_item.active .button {
  background-color: #105057;
}
.direction_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  text-align: left;
}
.direction_wrapper.open {
  height: auto;
  /* height: 100px; */
}

.form-holder { text-align: left; }
.form-holder label { color: black; font-size: 16px; }
.title-form { background-color: red; }
.image-form { background-color: orangered; }
.time-form { background-color: orange; }
.instruction-form { background-color: yellow; }
.measurements-form { background-color: yellowgreen; }
.title-form input {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 5px 8px 5px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 2px solid blue;
  /* border: 2px solid #ccc; */
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}
.title-form input:focus { border: 2px solid red;}
.image-form input {
  width: 98%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  margin: 8px 5px 8px 5px;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 5px;
}
.time-form {
  display: flex;
}
.prep-form {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 5px 8px 5px;
  /* border: 2px solid blue;
  border-radius: 5px; */
}
.prep-form input {
  width: 70px;
  margin-left: 5px;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}
.prep-form input:focus { border: 2px solid red; }
.cook-form {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 5px 8px 5px;
  /* border: 2px solid blue;
  border-radius: 5px; */
}
.cook-form input {
  width: 70px;
  margin-left: 5px;
  display: inline-block;
  border: 2px solid blue;
  border-radius: 3px;
  outline: none;
  transition: .5s;
}
.cook-form input:focus { border: 2px solid red; }
.form-holder textarea {
  width: 100%;
  height: 90px;
  padding: 12px 20px;
  box-sizing: border-box;
  /* border: 2px solid #ccc; */
  border: 2px solid blue;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* resize: none; */
  transition: 0.5s;
  outline: none;
}
.form-holder textarea:focus { border: 2px solid red; }
.finialSubmit { background: green; }
.finialSubmitBTN { 
  background-color: #AE0000; 
  color: White;
  font-size: 18px;
  /* font-weight: bold; */
  width: 96%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 7px;
}