* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 { color: red; }
body {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;  
  /* background: #fff; */
  /* background: black; */
  color: #444;
  /* background-image: url("./images/ColorFoodWallpaperL25.png"); */
  background-image: url("./images/FoodWallpaper25.png");
  /* background-image: url("./images/FoodWallpaper.jpg"); */
}

.container {
  /* background-color: lime; */
  max-width: 600px;
  margin: 2rem auto 4rem;
  padding: 0 10px;
  text-align: center;
}
.container h1 { 
  /* background-color: #f7f7f7; */
  background-color: #ededed;
  /* background-color: #e6e6e6; */
  /* background-color: #dbdbdb; */
  color: #AE0000;
  border-left: 3px solid grey;
  border-top: 3px solid grey;
  border-right: 3px solid grey;
}
.Links {
  max-width: 600px;
  margin: 2rem auto 2rem;
  padding: 0 10px;
  text-align: center;
}
.Links .heading { color: #AE0000; }
.Links .pages a {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.Links .pages a:hover { background-color: red; }

.heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.accordion_item {
  border-top: 1px solid #9f9f9f;
  padding-bottom: 15px;
}

.button:hover {
  /* background: red; */
  background-color: #02adbf;
}

.button {
  font-size: 16px;
  background-color: #008593;
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}

.Search-Bar input{
  width: 300px;
  padding: 12px 20px;
  margin: 10px;
  border: 2px solid navy;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}

.control {
  font-size: 20px;
}

.time-frame { 
  display: flex; 
  background-color: #ededed;
  text-align: center; 
}
.prep-time { 
  width: 100%; 
  padding: 15px 0;
}
.cook-time { 
  width: 100%; 
  padding: 15px 0;
}
.total-time { 
  width: 100%; 
  padding: 15px 0; 
}
.direction_wrapper h3 {
  background-color: #ededed;
  padding: 0 20px;
}
.ingredient {
  padding: 0 20px;
  background-color: #ededed;
}
.direction {
  /* background-color: #f7f7f7; */
  background-color: #ededed;
  padding: 0 20px 20px 20px;
}

/* activate toggle */
.accordion_item.active .button:hover {
  /* background: blueviolet; */
  background: #008593;
}
.accordion_item.active .button {
  background-color: #105057;
}
.direction_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  text-align: left;
}
.direction_wrapper.open {
  height: auto;
  /* height: 100px; */
}

.form-holder { 
  padding: 8px 10px 5px 10px;
  /* background-color: #f7f7f7; */
  background-color: #ededed;
  /* background-color: #e6e6e6; */
  /* background-color: #e0e0e0; */
  /* background-color: #dbdbdb; */
  border-left:3px solid grey;
  border-bottom:3px solid grey;
  border-right:3px solid grey;
  text-align: left; 
}
.form-holder label { color: black; font-size: 16px; }
/* .title-form { background-color: red; } */
/* .image-form { background-color: orangered; } */
/* .time-form { background-color: orange; } */
.instruction-form { 
  display:grid; 
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid grey;
  border-radius: 5px;
}
.measurements-form { 
  display:grid; 
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid grey;
  border-radius: 5px;
}
/* .finialSubmit { background: green; } */
.title-form input {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 5px 8px 5px; */
  /* margin: 8px 0; */
  display: inline-block;
  border: 2px solid navy;
  /* border: 2px solid #ccc; */
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}
.title-form input:focus { border: 2px solid blue;}
.image-form input {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  /* margin: 8px 5px 8px 5px; */
  display: inline-block;
  border: 2px solid navy;
  border-radius: 5px;
}
.time-form {
  display: flex;
}
.prep-form {
  width: 100%;
  padding: 6px 0;
  margin: 8px 5px 8px 5px;
  /* border: 2px solid blue;
  border-radius: 5px; */
}
.prep-form input {
  width: 70px;
  margin-left: 5px;
  display: inline-block;
  border: 2px solid navy;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}
.prep-form input:focus { border: 2px solid blue; }
.cook-form {
  width: 100%;
  padding: 6px 0;
  margin: 8px 5px 8px 5px;
  /* border: 2px solid blue;
  border-radius: 5px; */
}
.cook-form input {
  width: 70px;
  margin-left: 5px;
  display: inline-block;
  border: 2px solid navy;
  border-radius: 3px;
  outline: none;
  transition: .5s;
}
.cook-form input:focus { border: 2px solid blue; }
.form-holder textarea {
  width: 100%;
  height: 90px;
  padding: 12px 20px;
  box-sizing: border-box;
  /* border: 2px solid #ccc; */
  border: 2px solid navy;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* resize: none; */
  transition: 0.5s;
  outline: none;
}
.form-holder textarea:focus { border: 2px solid blue; }
.instruction-form button { 
  width: 125px;
  height: 40px; 
  float: right;
  color: white;
  border: none;
}
.instruction-form button:hover { background-color: red; }
.add-instruction button { 
  background-color: blue; 
  border-radius: 10px; 
  cursor: pointer;
}
.delete-instruction button:hover {background-color: orangered;}
.delete-instruction button { 
  /* position: absolute; */
  background-color: red; 
  width: 75px;
  height: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.measurements-form button { 
  width: 125px; 
  height: 40px;
  float: right;
  color: white;
  border: none;
}
.measurements-form button:hover { background-color: red; }
.add-measurement button { 
  background-color: blue; 
  border-radius: 10px;
  cursor: pointer;
}
.delete-measurement button:hover { background-color: orangered; }
.delete-measurement button {
  background-color: red;
  width: 75px;
  height: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.finialSubmitBTN { 
  background-color: #AE0000; 
  color: White;
  font-size: 18px;
  /* font-weight: bold; */
  width: 96%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.finialSubmitBTN:hover { background-color: #FF0B0B; }



/* SLick SLider */
.slick-track {
  display: flex;
}
.slick-slide {
  display: flex;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 51px;
}
/* .slick-list {margin: 0, -10px;} */
.slick-slide { 
  display: inline-block;
  padding-top: 10px;
  background-color: #ededed;
}
.slick-slide img {
  background-color: #ededed;
  margin: 0 auto;
  height: 200px;
  text-align: center;
  border-radius: 10px;
}
.Slider-container {
  padding-bottom: 30px;
}
.slick-dots {
  background-color: #ededed;
  border-radius: 50px;
}
.slick-arrow button { background-color: black;}

