* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 { color: red; }
body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  background: #fff;
  color: #444;
}

.container {
  max-width: 600px;
  margin: 2rem auto 4rem;
  padding: 0 10px;
  text-align: center;
}
.Links {
  max-width: 600px;
  margin: 2rem auto 2rem;
  padding: 0 10px;
  text-align: center;
}
.Links .heading { color: #AE0000; }
.Links .pages a {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.Links .pages a:hover { background-color: red; }

.heading {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.accordion_item {
  border-top: 1px solid #9f9f9f;
  padding-bottom: 10px;
}

.button:hover {
  background: red;
}

.button {
  font-size: 16px;
  background-color: #008593;
  color: #fff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  border: none;
}

.control {
  font-size: 20px;
}

.direction {
  background-color: #f7f7f7;
  padding: 20px;
}

/* activate toggle */
.accordion_item.active .button:hover {
  background: blueviolet;
}
.accordion_item.active .button {
  background-color: #105057;
}
.direction_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
  text-align: left;
}
.direction_wrapper.open {
  height: auto;
  /* height: 100px; */
}

.form-holder {
  text-align: left;
}